@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* CSS VARIABLES*/
:root {
  --color-primary: #101223;
  --color-secondary: #2fc07d;
  --color-heading: #fefefe;
  --color-paragraph: #626899;
  --color-paragraph-active: #fefefe; /* when animation is acitive */
  --color-icons: #7129e9;
  --color-background: #171a32;

  --font-size-headingLarge: 100pt;
  --font-size-headingSmall: 24pt;
  --font-size-list: 30pt;

  --font-size-regular: 25pt;
  --font-size-small: 20pt;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-regular: 1.5;
  --line-height-large: 2;

  --letter-spacing-small: 0.1em;
  --letter-spacing-regular: 0.15em;
  --letter-spacing-large: 0.2em;
}

/* -------- SIMPLE RESET ------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Lato', Helvetica, Arial, Verdana, Tahoma;
}

html {
  /* This define what 1rem is */
  /* 10px/16pc = 62,5% --> 1rem = 10px; */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
}
/* ------------------------------------- */

body {
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  color: var(--color-blue-dark);
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-heading);
}

p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-paragraph);
}

/* -------------CSS Grid------------- */

.container {
  display: grid;
  width: 1920px;
  height: 1080px;
  grid-template-columns: repeat(3, 580px);
  grid-template-rows: repeat(2, 470px);
  grid-gap: 40px;
  padding: 50px;
}
/* ------------------------------------------------ */

.section {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 6rem;
}
.path-modified,
.pargraph-active,
.colorTransition {
  animation: colorTransition 2s ease-in-out;
}

@keyframes colorTransition {
  0% {
    background-color: var(--color-primary);
  }
  50% {
    fill: var(--color-paragraph-active);
    color: var(--color-paragraph-active);
    background-color: var(--color-secondary);
  }
  100% {
    background-color: var(--color-primary);
  }
}
/* ------------------------------------------------ */
/* ----------------- SVG icons-------------------- */

.svg__container {
  height: 36px;
}
.svg path {
  fill: var(--color-icons);
}

.path-modified {
  fill: var(--color-paragraph-active);
}
/* ------------------------------------------------ */
